<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="BAU1bS6CYNGpZNSF8_Yc0wL9p41k83b5DHD7uH1_n_8" />

    <title>City TDX - Financial Trading Data Store</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <!--
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">City</span> TDX
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#subscribe">Subscribe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">City TDX</h1>
                        <p class="intro-text">Fast. Secure. Resilient. Scalable.<br> Rock Solid Financial Trading Store.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <a class="btn btn-mini" role="button" href="#myModal" data-toggle="modal"> <i class="icon-envelope"></i> Subscribe</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content popup-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Subscribe to City TDX Updates</h4>
                </div>
                <div class="modal-body">
                    <div id="mc_embed_signup" class="popup-dialog">
                        <form role="form" action="http://citytdx.us8.list-manage.com/subscribe/post?u=7024d717d87592bfbd96717a0&amp;id=3674fdef60" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="form-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Enter Email" id="mce-EMAIL">
                            </div>
                            <div class="form-group">
                                <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                                </label>
                                <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
                            </div>
                            <div class="form-group">
                                <label for="mce-COMPANY">Company </label>
                                <input type="text" value="" name="COMPANY" class="form-control" id="mce-COMPANY">
                            </div>

                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    
                            <p>

                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_7024d717d87592bfbd96717a0_3674fdef60" tabindex="-1" value=""></div>
                            <div class="clear">

                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary button">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer remove-top">
                </div>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About City TDX</h2>

                <p>
                    City TDX is a very fast, fault-tolerant, secure and scalable data storage and distribution backbone. It is written by a small group of top developers with more than fourteen years experience in tier-1 investment banks across the City of London. 
                    <p>Our company has been formed to address a common problem of data storage and distribution across all key areas of operation: Sales, Trading, Risk, Transaction Management and Finance.
                        <p> City TDX is being developed and integrated for a core set of clients at present. 
                        </div>
                    </div>
                </section>

                <!-- Download Section -->
                <section id="subscribe" class="content-section text-center">
                    <div class="subscribe-section">
                        <div class="container">
                            <div class="col-lg-8 col-lg-offset-2">
                                <h2>Register Your Interest</h2>
                                <p>We will be increasing our core clients shortly. Please register your interest.</p>
                                <a class="btn btn-default btn-lg" role="button" href="#myModal" data-toggle="modal"> <i class="icon-envelope"></i>Subscribe</a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Contact Section -->
                <section id="contact" class="container content-section text-center">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Contact Us</h2>
                            <p>For queries and feedback</p>
                            <p><a href="mailto:info@citytdx.io">info@citytdx.io</a>
                            </p>
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="https://twitter.com/citytdx" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/citytdx/tdx" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/101900964252092131061/about" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <!-- Map Section -->
                <div id="map"></div>

                <!-- Footer -->
                <footer>
                    <div class="container text-center">
                        <p>Copyright &copy; City TDX 2014</p>
                    </div>
                </footer>

                <!-- jQuery Version 1.11.0 -->
                <script src="js/jquery-1.11.0.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="js/jquery.easing.min.js"></script>

                <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

                <!-- Custom Theme JavaScript -->
                <script src="js/grayscale.js"></script>

                <!-- MailChimp JavaScript -->
                <!--
                <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>
                    (function($) {
                        window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='COMPANY';ftypes[3]='text';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);
                </script>
                -->
            </body>

            </html>